//Light Cyan: hsl(193, 38%, 86%)
// Green: hsl(150, 100%, 66%)

// Neutral

//Grayish Blue: hsl(217, 19%, 38%)
// Dark Grayish Blue: hsl(217, 19%, 24%)
//Dark Blue: hsl(218, 23%, 16%)
@import './screens.scss';
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Main {
  display: flex;
  justify-content: center;
}
.container-advice {
  width: 600px;
  height: 400px;
  background-color: hsl(217, 19%, 38%);
  border-radius: 16px;
  box-shadow: 1px 1px 20px 2px hsl(214, 16%, 17%);
  @include mobile {
    width: 80%;
    max-height: 300px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 3rem;
    position: relative;
    @include mobile {
      padding: 1.5rem; 
    }
    .advice-number {
      font-size: 12px;
      letter-spacing: 4px;
      color:hsl(150, 100%, 66%) ;
    }
    .advice {
      font-size: 28px;
      color: hsl(193, 38%, 86%);
      text-align: center;
      @include mobile {
        font-size: 22px; 
      }
    }

    button {
      border: 0; 
      border-radius: 100%;
      padding: .8rem;
      background-color: hsl(150, 100%, 66%) ;
      position: absolute;
      bottom: -1.5rem;
      left: auto;
      right: auto;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        opacity: .7;
        transform: rotate(360deg);
      }
      &:active {
        background-color:hsl(150, 55%, 53%) ;
      }
      @include mobile {
        padding: .4rem;
      }
    }


   picture::before {
      content: "";
      width: 250px;
      height: 1px;
      background-color: hsl(193, 38%, 86%);
      right: 1rem;
      bottom: 3.8rem;
      position: absolute;
      display: block;
      z-index: 99;
      @include mobile {
        width: 33%;
        bottom: 2.2rem;
      }
    }
    
     picture::after {
      content: "";
      width: 200px;
      height: 1px;
      background-color: hsl(193, 38%, 86%);
      left: -1rem;
      bottom: 0.74rem;
      position: relative;
      display: block;
      @include mobile {
        width: 33%;
        bottom: .7rem;
        left: 1rem;

      }
    }
  }
  
}